@import url("https://fonts.googleapis.com/css?family=Allura&display=swap");

.headerText {
  font-family: "Allura";
  font-size: 65px;
  text-align: center;
  color: rgb(0, 0, 0);
  border-style: solid;
  padding: 0.5em;
}
