@import url("https://fonts.googleapis.com/css?family=Yellowtail&display=swap");

.headerText {
  font-family: "Yellowtail", cursive;
  font-size: 30px;
  text-align: center;
  color: coral;
  border-style: solid;
  padding: 2em;
}
