@import url("https://fonts.googleapis.com/css?family=Yellowtail&display=swap");

.headerText {
  font-family: "Yellowtail", cursive;
  ftext-align: center;
  color: coral;
  font-weight: bolder;
  border-style: solid;
  padding: 2em;
}
